h2 {
   font-size: 30px;
   font-family: Verdana;
}

h3 {
   color: green;
   font-size: 30px;
   font-family: "Edu NSW ACT Hand Pre"cursive;
}

p {
   color: purple;
   font-size: 15px;
   font-family: "Roboto Slab", serif;

}

.lista-de-gatos {
   color: gold;
   font-size: 15px;
}

.imagen-de-gatos {
   width: 200px;
   border-width: 5px;
   border-color: red;
   border-style: inset;
}

img {
   width: 300px;
}

.bordes-redondeados {
   border-radius: 75px;
}

#pincha-aqui {
   font-size: 20px;
   color: blue;
}

#gato-naranja {
   border-radius: 50%;
   border-width: 5px;
   border-style: solid;
   border-color: brown;
}

#lista-de-gatos-odian {
   font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
   background-color: crimson;
}

.imagen-de-gato {
   padding: 20px;
   background-color: yellow;
   border-width: 5px;
   border-style: solid;
   border-color: black;
}