h2 {
   font-size: 30px;
   font-family: Verdana;
}

h3 {
   color: green;
   font-size: 30px;
   font-family: "Edu NSW ACT Hand Pre"cursive;
}

p {
   color: purple;
   font-size: 15px;
   font-family: "Roboto Slab", serif;

}

.lista-de-gatos {
   color: chocolate;
   font-size: 15px;
}