h2 {
   font-size: 30px;
   font-family: Verdana;
}

h3 {
   color: green;
   font-size: 30px;
   font-family: "Edu NSW ACT Hand Pre"cursive;
}

p {
   color: purple;
   font-size: 15px;
   font-family: "Roboto Slab", serif;

}

.lista-de-gatos {
   color: gold;
   font-size: 15px;
}

.imagen-de-gatos {
   width: 200px;
   border-width: 5px;
   border-color: red;
   border-style: inset;
}

img {
   width: 300px;
}

.bordes-redondeados {
   border-radius: 75px;
}

#pincha-aqui {
   font-size: 20px;
   color: blue;
}

#gato-naranja {
   border-radius: 50%;
   border-width: 5px;
   border-style: solid;
   border-color: brown;
}

#lista-de-gatos-odian {
   font-size: 18px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
   background-color: crimson;
}

.imagen-de-gato {
   margin: 15px;
   padding: 20px;
   background-color: yellow;
   border-width: 5px;
   border-style: solid;
   border-color: black;
}

img[title] {
   border-radius: 30%;
}

[type="radio"] {
   margin: 10px;
}

[type="checkbox"] {
   margin: 8px;
}

a[href="https://www.google.com/search?q=gatos&udm=2&sxsrf=AE3TifPcpS92dO26urhB_EqM4qSTwcamHg%3A1749531334830"]  {
   color: blueviolet;
   text-decoration: none;
   font-weight: bold;
}

div {
   background-color: #eb4034;
   color: chocolate;
}
/*comentario en css*/

h1 {
   color: rgb(219, 226, 11);
}